In [8]:
2**8
7/3
8/2
8//2
7//3
-7/3
-7//3

-3

In [9]:
print ('one')
print ('two')
print ('three')

one
two
three

In [10]:
print ('one', end = ' ')
print ('two', end = ' ')
print ('three')

one two three

In [11]:
print ('one', end = ', ')
print ('two', end = ', ')
print ('three')

one, two, three

In [14]:
print ("One, 'two', \"three\", four, \n \\five\ once, 'I' caught a \n fish '//alive\\\\'" )

One, 'two', "three", four,
 \five\ once, 'I' caught a
 fish '//alive\\'

In [17]:
inp = int (input ("no of apples? \n >>"))
type (inp)

no of apples?
 >>3

int