In [28]:
q = [i*i for i in range(5)]
print (q)

[0, 1, 4, 9, 16]

In [6]:
y = [i*i for i in range(50)]
print (y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [8]:
lst = [x for x in input("Enter 3 numbers separated by space ").split()] 
print(lst)

Enter 3 numbers separated by space 23 54 1
['23', '54', '1']

In [9]:
lst = [x for x in input("Enter 3 str separated by space ").split()] 
print (lst)

Enter 3 str separated by space dscl dfvlnd sdlv
['dscl', 'dfvlnd', 'sdlv']

In [12]:
lst = [x for x in input("Enter 3 str separated by , ").split(',')] 
print (lst)

Enter 3 str separated by , sdcjsd,234, dsncs
['sdcjsd', '234', ' dsncs']

In [17]:
a = [ x for x in input('enter 3 nos: ').split()]
print(a)

enter 3 nos2452 5245 5432
['2452', '5245', '5432']

In [15]:
print(a)

['234', 'sdv', 'dfds']

In [18]:
import math
math.pi

3.141592653589793

In [19]:
from math import pi
pi

3.141592653589793

In [21]:
a = [ str(x) for x in input('enter 3 str: ').split()]
print(a)

enter 3 str: fwe fwewf324 23423
['fwe', 'fwewf324', '23423']

In [46]:
pi = 20
#from math import pi
from math import sqrt
print(sqrt(pi))
print(pi)

def ak47():
    pi = 34
    print (pi)
ak47()

4.47213595499958
20
34

In [48]:
import numpy as np
ls = [4,9,25]
q = (np.sqrt(ls))
print(q)
type(q)

[2. 3. 5.]

numpy.ndarray

In [55]:
def mysqrt(a):
    q = [sqrt(i) for i in a]
    return (q)
    
lst = [4,456,12,7,2,64,75]
print(mysqrt(lst))
type(lst)

[2.0, 21.354156504062622, 3.4641016151377544, 2.6457513110645907, 1.4142135623730951, 8.0, 8.660254037844387]

list

In [64]:
def mysqrt(a):
    q = [x for x in y for y in a]
    return (q)
lst = [[4,456,12],7,2,64,75]
mysqrt(lst)

[0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 9,
 9,
 9,
 9,
 9,
 16,
 16,
 16,
 16,
 16,
 25,
 25,
 25,
 25,
 25,
 36,
 36,
 36,
 36,
 36,
 49,
 49,
 49,
 49,
 49,
 64,
 64,
 64,
 64,
 64,
 81,
 81,
 81,
 81,
 81,
 100,
 100,
 100,
 100,
 100,
 121,
 121,
 121,
 121,
 121,
 144,
 144,
 144,
 144,
 144,
 169,
 169,
 169,
 169,
 169,
 196,
 196,
 196,
 196,
 196,
 225,
 225,
 225,
 225,
 225,
 256,
 256,
 256,
 256,
 256,
 289,
 289,
 289,
 289,
 289,
 324,
 324,
 324,
 324,
 324,
 361,
 361,
 361,
 361,
 361,
 400,
 400,
 400,
 400,
 400,
 441,
 441,
 441,
 441,
 441,
 484,
 484,
 484,
 484,
 484,
 529,
 529,
 529,
 529,
 529,
 576,
 576,
 576,
 576,
 576,
 625,
 625,
 625,
 625,
 625,
 676,
 676,
 676,
 676,
 676,
 729,
 729,
 729,
 729,
 729,
 784,
 784,
 784,
 784,
 784,
 841,
 841,
 841,
 841,
 841,
 900,
 900,
 900,
 900,
 900,
 961,
 961,
 961,
 961,
 961,
 1024,
 1024,
 1024,
 1024,
 1024,
 1089,
 1089,
 1089,
 1089,
 1089,
 1156,
 1156,
 1156,
 1156,
 1156,
 1225,
 1225,
 1225,
 1225,
 1225,
 1296,
 1296,
 1296,
 1296,
 1296,
 1369,
 1369,
 1369,
 1369,
 1369,
 1444,
 1444,
 1444,
 1444,
 1444,
 1521,
 1521,
 1521,
 1521,
 1521,
 1600,
 1600,
 1600,
 1600,
 1600,
 1681,
 1681,
 1681,
 1681,
 1681,
 1764,
 1764,
 1764,
 1764,
 1764,
 1849,
 1849,
 1849,
 1849,
 1849,
 1936,
 1936,
 1936,
 1936,
 1936,
 2025,
 2025,
 2025,
 2025,
 2025,
 2116,
 2116,
 2116,
 2116,
 2116,
 2209,
 2209,
 2209,
 2209,
 2209,
 2304,
 2304,
 2304,
 2304,
 2304,
 2401,
 2401,
 2401,
 2401,
 2401]

In [ ]:
lst = [[4,16,25],[9,81,121]]

In [76]:
#def mysqrt(a):

ls = [[4,16,125],[9,81,121]]
#lsb = [(x for x in y) for y in a]
for a in ls:
    for b in a:
        q = [sqrt(x) for x in ls]
print (q)

#mysqrt(lst)

TypeError: must be real number, not list

In [79]:
def sqr(x): return x*x
print (sqr(8))

64

In [81]:
f = lambda x : x**x
print (f(3))

27

In [82]:
f = lambda n : "Even" if n%2 == 0 else 'odd'
print (f(234))

Even

In [94]:
def eo(x):
    if x%2==0:
        return True
    else:
        return False
    
a = []
for i in range(1,51):
    a.append(i)

result = filter (eo,a)
print (list(result))
#type(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [89]:
a = []

for i in range(1,51):
    a.append(i)
print (a)
type(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

list

In [99]:
lst = range(1,51)
result = list(filter (lambda x: x%2==0, lst))
print (result)
#print(type(result))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [105]:
list = [12,43,16,76]

for i in lst:
    assert (i > 10, 'assertion below min value')

<>:4: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<>:4: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<>:4: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<ipython-input-105-966e86c00861>:4: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (i > 10, 'assertion below min value')